/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

/* Стили для логотипа */
.logo h1 {
    margin: 0;
    font-size: 35px;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
}

/* Стили для поисковой формы */
.search-box {
    flex: 1;
    margin: 0 20px;
    padding-top: 15px;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

.search-box button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #cd2706;
}

.search-btn {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #cd2706;
}

/* Стили для кнопки расширенного поиска */
#advanced-search-btn {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#advanced-search-btn:hover {
    background-color: #cd2706;
}

/* Стили для блока расширенного поиска */
#advanced-search {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#advanced-search input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

/* Стили для списка продуктов с использованием CSS Grid */

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px; /* Заменить фиксированную высоту на минимальную */
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.3s ease; /* Плавное изменение цвета рамки */
}

.product:hover {
    border-color: rgb(130, 130, 130); /* Цвет рамки при наведении */
}

.product-image {
    width: 100%;
    height: 60%; /* фиксированная высота для изображения */
    object-fit: cover; /* изображение заполняет контейнер */
}

.product-name {
    font-size: 1em;
    padding: 10px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis; /* Отображение многоточия при переполнении */
    white-space: nowrap; /* Запрещает перенос текста на новую строку */
}

.product > *:last-child {
    flex-grow: 1; /* Убедитесь, что элементы растягиваются по высоте карточки */
}

.product-price {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.product a {
    text-decoration: none;
    color: inherit;
}

.required:after {
    content: none !important;
}

.search-input {
    width: 500px; 
    padding: 5px;
}

main {
    margin: 20px; /* отступы для основного контента */
}

.search-box, #advanced-search {
    margin-bottom: 20px; /* отступы для поиска */
}

.product-page .product-detail {
    display: flex;
    align-items: flex-start;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.product-page .product-image {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.product-page .product-info {
    max-width: 60%;
}

.product-page .product-name {
    font-size: 28px;
    margin: 10px 0;
}

.product-page .product-description {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.product-page .product-price {
    font-size: 24px;
    color: #D92E15;
    margin-bottom: 20px;
}

.product-page .product-brand, .product-page .product-color {
    font-size: 16px;
    margin-bottom: 10px;
}


a {
    text-decoration: none;
}

.sidebar {
    width: 250px; /* Ширина боковой панели */
    background-color: #fff; /* Белый фон для боковой панели */
    padding: 20px; /* Отступы внутри боковой панели */
    position: sticky; /* Закрепляем боковую панель при скролле */
    top: 0; /* Закрепление в верхней части страницы */
    overflow-y: auto; /* Прокрутка, если контент не помещается */
    border: 2px solid #ddd;
    margin-right: 20px; /* Отступ справа от боковой панели для отделения от основного контента */
}

.content-wrapper {
    display: flex;
}

/* Стили для списка категорий в боковой панели */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li {
    margin-bottom: 15px; /* Увеличиваем отступ между элементами списка */
}

.category-list a {
    text-decoration: none;
    color: #333; /* Цвет текста ссылок */
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px; /* Скругленные углы для ссылок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета */
}

.category-list a:hover {
    background-color: #f1f1f1; /* Легкий серый фон при наведении */
    color: rgb(0, 0, 0); /* Цвет текста при наведении */
}

/* Улучшение внешнего вида заголовков и текста в боковой панели */
.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.sidebar p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.product-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-list {
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-list1 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.product-list h2 {
    margin-top: 0; /* Убираем отступ сверху у заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

/* Стили для сетки продуктов */
.product-list-inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* расстояние между карточками */
    justify-items: center; /* Центрируем элементы по горизонтали */
}