/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

/* Стили для логотипа */
.logo h1 {
    margin: 0;
    font-size: 35px;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
}

/* Стили для поисковой формы */
.search-box {
    flex: 1;
    margin: 0 20px;
    padding-top: 15px;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

.search-box button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #cd2706;
}

.search-btn {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #cd2706;
}

/* Стили для кнопки расширенного поиска */
#advanced-search-btn {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #f84622;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#advanced-search-btn:hover {
    background-color: #cd2706;
}

/* Стили для блока расширенного поиска */
#advanced-search {
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#advanced-search input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

/* Стили для списка продуктов с использованием CSS Grid */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* расстояние между карточками */
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%; /* ширина карточки занимает всю доступную ширину */
    height: 300px; /* фиксированная высота карточки */
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    /* Убедитесь, что карточка выравнена правильно */
}

.product-image {
    width: 100%;
    height: 60%; /* фиксированная высота для изображения */
    object-fit: cover; /* изображение заполняет контейнер */
}

.product-name {
    font-size: 1em;
    padding: 10px; /* При необходимости добавьте отступы */
    color: #333;
    /* Убедитесь, что заголовок не создает дополнительного пространства */
}

.product > *:last-child {
    flex-grow: 1; /* Убедитесь, что элементы растягиваются по высоте карточки */
}

.required:after {
    content: none !important;
}

.search-input {
    width: 500px; 
    padding: 5px;
}

main {
    margin: 20px; /* отступы для основного контента */
}

.search-box, #advanced-search {
    margin-bottom: 20px; /* отступы для поиска */
}

