<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATech</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><h1>ATech</h1></a>
        </div>
        <button id="advanced-search-btn">Расширенный поиск</button>
    </header>
    <main>
        <div class="search1">
            <div class="search-box">
                <form method="GET" action="{% url 'search_view' %}">
                    {% csrf_token %}
                    {{ search_form.as_p }}
                    <button type="submit">Искать</button>
                </form>
            </div>
        </div> 
        <!-- Расширенный поиск (скрыт по умолчанию) -->
        <div id="advanced-search" style="display: none;">
            <h2>Расширенный поиск</h2>
            <form method="GET" action="{% url 'onlinestore' %}">
                {% csrf_token %}
                {{ advanced_search_form.as_p }}
                <button class="search-btn" type="submit">Искать</button>
            </form>
        </div>
    
        <!-- Отображение результатов поиска -->
        {% if products %}
            <div class="product-list">
                {% for product in products %}
                    <div class="product">
                        <img src="{{ product.image_url.url }}" alt="{{ product.product_name }}" class="product-image">
                        <h3 class="product-name">{{ product.product_name }}</h3>
                    </div>
                {% empty %}
                    <p>По вашему запросу ничего не найдено.</p>
                {% endfor %}
            </div>
        {% endif %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#advanced-search-btn').click(function() {
                $('#advanced-search').toggle();
            });
        });
    </script>
</body>
</html>
