<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><h1>ATech</h1></a>
        </div>
    </header>

    <main>
        <h2>Корзина</h2>
        {% if cart.items.exists %}
            <ul>
                {% for item in cart.items.all %}
                    <li>
                        {{ item.product.product_name }} - {{ item.quantity }} x ${{ item.product.price|floatformat:2 }}
                        <a href="{% url 'remove_from_cart' item.id %}">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.total_price|floatformat:2 }}</p>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Оформить</a>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Продолжить покупки</a>
    </main>
</body>
</html>
